# development || production
DEV_ENV=development
PORT=
SALT_ROUNDS=

# this is for CORS, please put your deploy URL
BASE_URL=

# DATABASE
DATABASE_URL=

# JWT
JWT_SECRET=DATABASE_USER=


# SMTP (EMAIL SERVICE)
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=